<% unless current_user %>
  <div class="col-md-4">
    <h2 class="h2">Einloggen</h2>
    <%= form_for(:user, :url => session_path(:user), html: { role: "form"}) do |f| %>
      <div class="form-group"><%= f.label :email, "E-Mail-Adresse" %><br />
      <%= f.email_field :email, autofocus: true, class:"form-control" %></div>

      <div class="form-group"><%= f.label :password, "Passwort" %><br />
        <%= f.password_field :password, autocomplete: "off", class:"form-control" %></div>

      <% if devise_mapping.rememberable? -%>
        <div class="form-group"><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
      <% end -%>

      <div><%= f.submit "Log in", class: "btn btn-default" %></div>
    <% end %>
  </div>

<% else %>
  <div class="col-md-4">
    <div class="panel panel-primary">
    <div class="panel-heading">Hallo <%= current_user.username %></div>
    <div class="panel-body">
      <p>Sie liegen im Moment auf dem <%= current_user.rank %>. Platz der Gesamtwertung.</p>
      <p>Sie haben bisher <%= current_user.points %> Punkte erreicht.</p>
      <button class="btn btn-primary btn-lg btn-block" role="button"><%= link_to "Jetzt Tippen!"%></button>
    </div>
  </div>
  </div>
<% end %>
