<div  class="col-md-8">
  <% flash.each do |key, value| %>
    <%= content_tag :div, value.html_safe, class: "alert alert-warning", role: "alert" %>
  <% end %>
  <div class="panel panel-primary">
    <div class="panel-heading">Tippspiel zur Bundesliga-Saison 2014/2015</div>
    <div class="panel-body">
      <p>Fußballexperte? Sie wissen alles besser? Zeigen Sie es. <br>Tippen Sie mit!<br>
      </p>
      <p>Einfach registrieren und mittippen und einen von vielen tollen Preisen gewinnen!</p>
    </div>
  </div>

  <div class="panel panel-primary">
    <div class="panel-heading">Die nächsten Spiele:</div>
    <table class="table table-striped">
      <thead>
          
      </thead>
      <tbody>
        <% @matches.each do |match| %>
          <tr>
            <td class="align-center cell-sm" >
              <%= match.match_time.in_time_zone("CET").strftime("%d.%m, %H:%M")  %>
            </td>
            <td class="align-right cell-md"><%= match.home_team %></td>
            <td class="align-center cell-xs">:</td>  
            <td class="align-left cell-md"><%= match.away_team %></td>
            <td class="align-center cell-sm"><%=link_to "Jetzt tippen!", edit_tipp_path(@matchday), class: "badge alert-info" %></td>
          </tr>
        <% end %>       
      </tbody>
    </table>  
  </div>
</div>
<%= render 'static_pages/login_form' %>
