<div class="col-md-8">
  <div class="well">
    <h4>Erneut E-Mail zur Anmeldung verschicken</h2>
    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, class: "form-inline", role:"form" }) do |f| %>
      <%= devise_error_messages! %>
      <div class="form-group">
        <%= f.label :email %>:&nbsp
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div>
      <br><br>
      <div><%= f.submit "E-Mail erneut senden", class:"btn btn-primary active" %></div>
    <% end %>

    <%= render "devise/shared/links" %>

  </div>
</div>
