
<%= form_tag tipps_path do %>
  
  <%= hidden_field_tag "matchday", @matchday, { :id => "matchday" } %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="align-left" >Datum</th>
        <th class="align-right"></th>

        <th class="align-center" colspan="3">Tipp</th>
        
        <th class="align-left"></th>
        <th class="align-center">Ergebnis</th>
        <th>Punkte</th>
      </tr>
    </thead>
    <tbody>
      <% @matches.each do |match| %>
        <% tipp = Tipp.new %>
        <% tipp_index = @tipps.find_index {|item| item.match_id == match.id} %>
        <% tipp = @tipps[tipp_index] if tipp_index %>

        <%= fields_for "tipps[#{tipp.id}]", tipp, index: nil do |f| %>
          <tr>
            <%= f.hidden_field :match_id, :value => match.id %>
            <td class="align-left cell-sm" >
              <% day = match.match_time.strftime("%w")%>
              <%= @days[day.to_i] + ". " %>
              <%= match.match_time.in_time_zone("CET").strftime("%d.%m, %H:%M")  %>
            </td>
            <td class="align-right cell-md"><%= match.home_team %></td>

            <% if DateTime.now < match.match_time %>
              <td class="align-right cell-xs"> 
                <%= f.text_field(:home_goals, class: "form-control input-sm",:pattern => '[0-9]{1,2}') %>
              </td>
            <% else %>
              <td class="align-right cell-xs"> <%= f.text_field(:home_goals, class: "form-control input-sm", id:"disabledInput", :disabled => true) %></td>
            <% end %>

            <td class="align-center cell-xs">:</td>
            <% if DateTime.now < match.match_time %>
              <td class="align-left cell-xs"> 
                <%= f.text_field(:away_goals, class: "form-control input-sm",:pattern => '[0-9]{1,2}') %>
              </td>
            <% else %>
              <td class="align-left cell-xs"> <%= f.text_field(:away_goals, class: "form-control input-sm", id:"disabledInput", :disabled => true) %></td>
            <% end %> 
            <td class="align-left cell-md" ><%= match.away_team %></td>
            
            <% if match.home_goals %>
              <td class="align-center cell-sm"><%= match.home_goals %> - <%= match.away_goals %></td>
            <% else %>
              <td class="align-center cell-xs">-</td>
            <% end %>
            <td class="align-center cell-xs"><div class="label label-default"><%= tipp.points  %></div></td>
          </tr>
        <% end %>
      <% end %>
      <tr>
        <td colspan="3">
          <%= submit_tag "Tipps abgeben" , class: "btn btn-primary btn-lg btn-block", role: "button" if DateTime.now < @matches.last.match_time %>
        </td>
        <td colspan="4" class="align-right">Spieltag-Punktzahl:</td>
        <td class="align-center"><div class="label label-default"><%= @tipps.inject(0){|sum,e| sum += e.points if e.points} %></div></td>
      </tr>
    
    </tbody>

  </table>

  
<% end %>

