<%= form_for(@tipp_group, html: {class: "", role: "form"}) do |f| %>
  <% if @tipp_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tipp_group.errors.count, "error") %> prohibited this tipp_group from being saved:</h2>

      <ul>
      <% @tipp_group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :name, "Gruppenname" %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.label :password, "Gruppen-Passwort" %><br>
    <%= f.text_field :password, class: "form-control"  %>
  </div>
  
  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
