<div class="col-md-6">
  <div class="well">
    <% if flash[:notice] %>
      <p class="alert alert-info"><%= notice %></p>
    <% end %>
    <h4>
      <strong>Gruppenname:</strong>
      <%= @tipp_group.name %>
    </h4>
    <h4>
      <strong>Gründer der Gruppe:</strong>
      <%= @tipp_group.user.username %>
    </h4>

  
    <p>
    <% if @isFounder %>
      <h4>
        <strong>Gruppen-Passwort:</strong>
        <%= @tipp_group.password %>
      </h4>
      <p>
        <%= link_to 'Gruppe bearbeiten', edit_tipp_group_path(@tipp_group), class:"btn btn-primary" %>
        <%= link_to 'Gruppe löschen', @tipp_group, method: :delete, data: { confirm: 'Sind Sie sicher?' }, class:"btn btn-danger pull-right" %>

      </p>
    <% else %>
      <button class="btn btn-primary" data-toggle="modal" data-target=".bs-join-group-modal-sm">Gruppe beitreten</button>
    <% end %>
    </p>
    <div class="modal fade bs-join-group-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Gruppe beitreten</h4>
          </div>
          <div class="modal-body">
            <%= form_tag(create_member_tipp_group_path, method: "post", class: "form-inline", role: "form") do %>
               <div class="form-group">    
              <%= hidden_field_tag 'id', @tipp_group.id %>
              <%= label_tag :password, "Passwort: " %>
              <%= text_field_tag :password, nil, class: "form-control" %>
              </div> 
              <%= submit_tag "Gruppe beitreten", class: "btn btn-primary"  %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <%= link_to 'Zurück', tipp_groups_path %>
  </div>
</div>
<div class="col-md-6">
  <div class="panel panel-primary">
    <div class="panel-heading"><b>Mitglieder der Gruppe:</b></div>
    <table class="table">
      
      <tbody>
        <% @tipp_group.users.each do |user| %>
          <tr>
         
            <td><%= user.username  %></td>
            <% if @isFounder %>
              <td><%= link_to 'Mitglied enfernen', delete_member_tipp_group_path(user: user.id), method: :delete, data: { confirm: 'Sind Sie sicher?' }, class:"btn btn-danger btn-sm pull-right" %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
